.Board {
  position: relative;
  background-color: #fff;
  background-image:
    linear-gradient(#808080 1px, transparent 1px),
    linear-gradient(90deg, #808080 1px, transparent 1px);
}

.Cell {
  /* background: #000; */
  position: absolute;
  /* display: inline-flex; */
  /* justify-content: space-evenly; */
  /* align-items: flex-start; */
  display: flex;
  align-items: center;
  font-size: 1vh;
}
/* 
.Cell::after{
  content: attr(data-before);
  font-size: 13px;
  font-weight: 500;
  background: white;
  margin-top: 10px;
} */

.Path {
  background: blue;
  position: absolute;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-start;
}